@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*, *:after, *:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 150%;
    color: #003767;
    background-color: #fafafa;
    position: relative;
    max-width: 1290px;;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formBlock{
    width: 768px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #003767;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
}

.titleBlock{
    display: grid;
    grid-column: 1/3;
    margin-bottom: 15px;
}

.cardTitle{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

.contentBlock{
    display: grid;
    grid-column: 1/3;
    grid-row-gap: 15px;
}

.inputsBlock{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    grid-column: 1/3;
}

.labelText{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #555;
}

.formInput{
    width: 100%;
    padding: 12px 16px;
    background-color: #ffffff;
    border: 1px solid #667085;
    border-radius: 4px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #003767;
}

.formInput::placeholder{
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #003767;
}

.selectComponent{
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #003767;
    background-color: transparent;
}

.radioButtons{
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 15px;
}

.labelsBlockLayout{
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.checkTable{
    width: 100%;
}
.btnBlock{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
}

.submitButton{
    padding: 8px 35px;
    background-color: #003767;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    grid-column: 2/3;
    margin-top: 35px;
    max-width: 50%;
    display: grid;
    justify-self: flex-end;
}

.backHome{
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    color: #003767;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #003767;
    padding: 7px 25px;
    border-radius: 5px;
}